In [1]:
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, mean_squared_error

In [2]:
products = pd.read_csv("data/products.csv")
store_purchases = pd.read_csv("data/store_purchases.csv")
users = pd.read_csv("data/users.csv")
web_visits = pd.read_csv("data/web_visits.csv")

In [3]:
store_user = store_purchases.merge(users, how="left", left_on = ["user_id"], right_on = ["user_ID"])
store_user.drop(["user_ID"], inplace=True, axis=1)
store_user

,user_id,date,family,class,type,product,product_id,price,card_owner
0,49263,2020-02-26,family_6,class_3,type_4,product_3,00043a7a-ba01-4653-a8c9-dfc1c256372d,5.0,False
1,30940,2022-12-16,family_6,class_3,type_4,product_3,00043a7a-ba01-4653-a8c9-dfc1c256372d,5.0,False
2,11386,2020-02-18,family_6,class_3,type_4,product_3,00043a7a-ba01-4653-a8c9-dfc1c256372d,5.0,False
3,37749,2020-11-04,family_6,class_3,type_4,product_3,00043a7a-ba01-4653-a8c9-dfc1c256372d,5.0,False
4,14128,2021-02-10,family_6,class_3,type_4,product_3,00043a7a-ba01-4653-a8c9-dfc1c256372d,5.0,False
...,...,...,...,...,...,...,...,...,...
171648,34856,2021-08-08,family_6,class_1,type_1,product_12,6bcfe8b4-42c2-4089-bccc-b670ad8210d6,152.0,False
171649,47325,2022-10-21,family_6,class_1,type_1,product_12,6bcfe8b4-42c2-4089-bccc-b670ad8210d6,152.0,False
171650,30303,2022-05-12,family_6,class_1,type_1,product_12,6bcfe8b4-42c2-4089-bccc-b670ad8210d6,152.0,False
171651,20029,2021-01-17,family_6,class_1,type_1,product_12,6bcfe8b4-42c2-4089-bccc-b670ad8210d6,152.0,False
171652,28334,2020-0,NaN,NaN,NaN,NaN,NaN,NaN,False

In [4]:
df = web_visits.merge(store_user[["user_id", "product_id", "date", "card_owner"]], how = "left", on=["user_id", "product_id"])
df

,family,class,type,web_visit_date,user_id,product,price,product_id,conversion,date,card_owner
0,family_9,class_8,type_2,2022-03-02,1770.0,product_17,103,567e07ef-45e3-406b-a2b1-1175187504be,0,NaN,NaN
1,family_4,class_8,type_2,2022-04-08,43333.0,product_30,1,5f7dcb42-5eb4-4aaf-bd36-40e766fc7449,0,NaN,NaN
2,family_9,class_8,type_1,2022-03-14,33025.0,product_16,2,6d2ac9e4-9baf-4338-b3d9-671bcdcb36eb,0,NaN,NaN
3,family_4,class_8,type_2,2022-04-25,24377.0,product_22,34,717b0355-71aa-4be6-9eff-afa5c7ec95c7,0,NaN,NaN
4,family_4,class_8,type_2,2022-09-19,40274.0,product_32,1,75b6a327-af04-413a-a605-a07cc66b3fb4,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
27238191,family_2,class_1,type_1,2020-06-17,18550.0,product_19,163,1b002490-5f32-4482-8a50-83379e511519,0,NaN,NaN
27238192,family_2,class_1,type_1,2020-06-13,27973.0,product_16,1,20b90b1a-beeb-4308-82ba-7c55121141d8,0,NaN,NaN
27238193,family_2,class_1,type_1,2022-02-07,39666.0,product_16,1,20b90b1a-beeb-4308-82ba-7c55121141d8,0,NaN,NaN
27238194,family_5,class_1,type_2,2022-05-09,28123.0,product_5,166,21c5eef8-2ffe-4dbf-9b9a-04f87715e6af,0,2021-12-06,False
27238195,family_9,class_1,type_1,2022-09-11,17905.0,product_3,393,245e09d7-16c3-4749-9338-ee020a610461,0,NaN,NaN

In [5]:
df["offline_conversion"] = 0

In [6]:
df_converted = df[df["conversion"]==0]
df_converted

,family,class,type,web_visit_date,user_id,product,price,product_id,conversion,date,card_owner,offline_conversion
0,family_9,class_8,type_2,2022-03-02,1770.0,product_17,103,567e07ef-45e3-406b-a2b1-1175187504be,0,NaN,NaN,0
1,family_4,class_8,type_2,2022-04-08,43333.0,product_30,1,5f7dcb42-5eb4-4aaf-bd36-40e766fc7449,0,NaN,NaN,0
2,family_9,class_8,type_1,2022-03-14,33025.0,product_16,2,6d2ac9e4-9baf-4338-b3d9-671bcdcb36eb,0,NaN,NaN,0
3,family_4,class_8,type_2,2022-04-25,24377.0,product_22,34,717b0355-71aa-4be6-9eff-afa5c7ec95c7,0,NaN,NaN,0
4,family_4,class_8,type_2,2022-09-19,40274.0,product_32,1,75b6a327-af04-413a-a605-a07cc66b3fb4,0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
27238191,family_2,class_1,type_1,2020-06-17,18550.0,product_19,163,1b002490-5f32-4482-8a50-83379e511519,0,NaN,NaN,0
27238192,family_2,class_1,type_1,2020-06-13,27973.0,product_16,1,20b90b1a-beeb-4308-82ba-7c55121141d8,0,NaN,NaN,0
27238193,family_2,class_1,type_1,2022-02-07,39666.0,product_16,1,20b90b1a-beeb-4308-82ba-7c55121141d8,0,NaN,NaN,0
27238194,family_5,class_1,type_2,2022-05-09,28123.0,product_5,166,21c5eef8-2ffe-4dbf-9b9a-04f87715e6af,0,2021-12-06,False,0
27238195,family_9,class_1,type_1,2022-09-11,17905.0,product_3,393,245e09d7-16c3-4749-9338-ee020a610461,0,NaN,NaN,0

In [7]:
df_converted["offline_conversion"] = df_converted["offline_conversion"].where(df_converted["date"].isna(), 1)
df_converted

C:\Users\Rehan Ibrahim\AppData\Local\Temp\ipykernel_13940\1083755211.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_converted["offline_conversion"] = df_converted["offline_conversion"].where(df_converted["date"].isna(), 1)

,family,class,type,web_visit_date,user_id,product,price,product_id,conversion,date,card_owner,offline_conversion
0,family_9,class_8,type_2,2022-03-02,1770.0,product_17,103,567e07ef-45e3-406b-a2b1-1175187504be,0,NaN,NaN,0
1,family_4,class_8,type_2,2022-04-08,43333.0,product_30,1,5f7dcb42-5eb4-4aaf-bd36-40e766fc7449,0,NaN,NaN,0
2,family_9,class_8,type_1,2022-03-14,33025.0,product_16,2,6d2ac9e4-9baf-4338-b3d9-671bcdcb36eb,0,NaN,NaN,0
3,family_4,class_8,type_2,2022-04-25,24377.0,product_22,34,717b0355-71aa-4be6-9eff-afa5c7ec95c7,0,NaN,NaN,0
4,family_4,class_8,type_2,2022-09-19,40274.0,product_32,1,75b6a327-af04-413a-a605-a07cc66b3fb4,0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
27238191,family_2,class_1,type_1,2020-06-17,18550.0,product_19,163,1b002490-5f32-4482-8a50-83379e511519,0,NaN,NaN,0
27238192,family_2,class_1,type_1,2020-06-13,27973.0,product_16,1,20b90b1a-beeb-4308-82ba-7c55121141d8,0,NaN,NaN,0
27238193,family_2,class_1,type_1,2022-02-07,39666.0,product_16,1,20b90b1a-beeb-4308-82ba-7c55121141d8,0,NaN,NaN,0
27238194,family_5,class_1,type_2,2022-05-09,28123.0,product_5,166,21c5eef8-2ffe-4dbf-9b9a-04f87715e6af,0,2021-12-06,False,1
27238195,family_9,class_1,type_1,2022-09-11,17905.0,product_3,393,245e09d7-16c3-4749-9338-ee020a610461,0,NaN,NaN,0

In [8]:
df_converted["web_visit_date"] = pd.to_datetime(df_converted["web_visit_date"])

C:\Users\Rehan Ibrahim\AppData\Local\Temp\ipykernel_13940\768794643.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_converted["web_visit_date"] = pd.to_datetime(df_converted["web_visit_date"])

In [9]:
df_converted["date"] = pd.to_datetime(df_converted["date"])

C:\Users\Rehan Ibrahim\AppData\Local\Temp\ipykernel_13940\3661899603.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_converted["date"] = pd.to_datetime(df_converted["date"])

In [10]:
data = df_converted.copy()

In [11]:
X = data.drop('offline_conversion', axis=1)
y = data['offline_conversion']

In [31]:
#X.drop(columns=['user_id'],inplace=True)
X.head()

   price card_owner
0    103        NaN
1      1        NaN
2      2        NaN
3     34        NaN
4      1        NaN

In [32]:
from catboost import CatBoostClassifier
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = CatBoostClassifier(iterations=100, depth=6, learning_rate=0.1, task_type="GPU", random_seed=42)
model.fit(X,y)
y_pred = model.predict(X_test)
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)
confusion = confusion_matrix(y_test, y_pred)

print(f'Accuracy: {accuracy}')
print('Classification Report:')
print(report)
print('Confusion Matrix:')
print(confusion)
feature_importance = model.get_feature_importance()
print('Feature Importance:')
for i, importance in enumerate(feature_importance):
    print(f'Feature {i}: {importance}')

0:	learn: 0.5979078	total: 240ms	remaining: 23.8s
1:	learn: 0.5204491	total: 365ms	remaining: 17.9s
2:	learn: 0.4553879	total: 524ms	remaining: 16.9s
3:	learn: 0.4004800	total: 649ms	remaining: 15.6s
4:	learn: 0.3536216	total: 775ms	remaining: 14.7s
5:	learn: 0.3134522	total: 900ms	remaining: 14.1s
6:	learn: 0.2783457	total: 1.03s	remaining: 13.6s
7:	learn: 0.2479040	total: 1.22s	remaining: 14s
8:	learn: 0.2211516	total: 1.34s	remaining: 13.6s
9:	learn: 0.1975747	total: 1.46s	remaining: 13.2s
10:	learn: 0.1767610	total: 1.62s	remaining: 13.1s
11:	learn: 0.1583966	total: 1.75s	remaining: 12.8s
12:	learn: 0.1420778	total: 1.93s	remaining: 12.9s
13:	learn: 0.1275106	total: 2.12s	remaining: 13s
14:	learn: 0.1145789	total: 2.24s	remaining: 12.7s
15:	learn: 0.1030291	total: 2.43s	remaining: 12.8s
16:	learn: 0.0927482	total: 2.59s	remaining: 12.7s
17:	learn: 0.0834895	total: 2.78s	remaining: 12.7s
18:	learn: 0.0751948	total: 2.9s	remaining: 12.4s
19:	learn: 0.0677507	total: 3.03s	remaining: 12.1s
20:	learn: 0.0610719	total: 3.19s	remaining: 12s
21:	learn: 0.0550878	total: 3.31s	remaining: 11.7s
22:	learn: 0.0496922	total: 3.5s	remaining: 11.7s
23:	learn: 0.0448516	total: 3.63s	remaining: 11.5s
24:	learn: 0.0404829	total: 3.75s	remaining: 11.3s
25:	learn: 0.0365599	total: 3.91s	remaining: 11.1s
26:	learn: 0.0330191	total: 4.07s	remaining: 11s
27:	learn: 0.0298275	total: 4.22s	remaining: 10.9s
28:	learn: 0.0269370	total: 4.41s	remaining: 10.8s
29:	learn: 0.0243481	total: 4.57s	remaining: 10.7s
30:	learn: 0.0219979	total: 4.7s	remaining: 10.5s
31:	learn: 0.0198752	total: 4.83s	remaining: 10.3s
32:	learn: 0.0179733	total: 4.99s	remaining: 10.1s
33:	learn: 0.0162423	total: 5.11s	remaining: 9.93s
34:	learn: 0.0146816	total: 5.24s	remaining: 9.73s
35:	learn: 0.0132758	total: 5.37s	remaining: 9.54s
36:	learn: 0.0120051	total: 5.49s	remaining: 9.36s
37:	learn: 0.0108609	total: 5.62s	remaining: 9.17s
38:	learn: 0.0098154	total: 5.81s	remaining: 9.09s
39:	learn: 0.0088804	total: 5.94s	remaining: 8.9s
40:	learn: 0.0080296	total: 6.06s	remaining: 8.73s
41:	learn: 0.0072632	total: 6.19s	remaining: 8.54s
42:	learn: 0.0065711	total: 6.31s	remaining: 8.37s
43:	learn: 0.0059418	total: 6.46s	remaining: 8.23s
44:	learn: 0.0053763	total: 6.68s	remaining: 8.17s
45:	learn: 0.0048615	total: 6.84s	remaining: 8.03s
46:	learn: 0.0044001	total: 6.99s	remaining: 7.89s
47:	learn: 0.0039803	total: 7.15s	remaining: 7.74s
48:	learn: 0.0036006	total: 7.3s	remaining: 7.6s
49:	learn: 0.0032573	total: 7.49s	remaining: 7.49s
50:	learn: 0.0029456	total: 7.64s	remaining: 7.34s
51:	learn: 0.0026658	total: 7.83s	remaining: 7.23s
52:	learn: 0.0024111	total: 7.95s	remaining: 7.05s
53:	learn: 0.0021820	total: 8.11s	remaining: 6.91s
54:	learn: 0.0019740	total: 8.27s	remaining: 6.76s
55:	learn: 0.0017856	total: 8.39s	remaining: 6.59s
56:	learn: 0.0016162	total: 8.54s	remaining: 6.45s
57:	learn: 0.0014622	total: 8.67s	remaining: 6.28s
58:	learn: 0.0013232	total: 8.79s	remaining: 6.11s
59:	learn: 0.0011974	total: 8.98s	remaining: 5.99s
60:	learn: 0.0010833	total: 9.13s	remaining: 5.84s
61:	learn: 0.0009801	total: 9.32s	remaining: 5.71s
62:	learn: 0.0008869	total: 9.44s	remaining: 5.55s
63:	learn: 0.0008024	total: 9.57s	remaining: 5.38s
64:	learn: 0.0007260	total: 9.69s	remaining: 5.22s
65:	learn: 0.0006569	total: 9.82s	remaining: 5.06s
66:	learn: 0.0005943	total: 9.97s	remaining: 4.91s
67:	learn: 0.0005379	total: 10.1s	remaining: 4.75s
68:	learn: 0.0004865	total: 10.2s	remaining: 4.59s
69:	learn: 0.0004405	total: 10.3s	remaining: 4.43s
70:	learn: 0.0003985	total: 10.5s	remaining: 4.3s
71:	learn: 0.0003605	total: 10.7s	remaining: 4.16s
72:	learn: 0.0003264	total: 10.9s	remaining: 4.02s
73:	learn: 0.0002953	total: 11.1s	remaining: 3.88s
74:	learn: 0.0002673	total: 11.2s	remaining: 3.73s
75:	learn: 0.0002419	total: 11.3s	remaining: 3.57s
76:	learn: 0.0002189	total: 11.4s	remaining: 3.41s
77:	learn: 0.0001980	total: 11.5s	remaining: 3.26s
78:	learn: 0.0001793	total: 11.7s	remaining: 3.11s
79:	learn: 0.0001623	total: 11.9s	remaining: 2.98s
80:	learn: 0.0001469	total: 12.2s	remaining: 2.85s
81:	learn: 0.0001331	total: 12.4s	remaining: 2.73s
82:	learn: 0.0001204	total: 12.6s	remaining: 2.58s
83:	learn: 0.0001090	total: 12.8s	remaining: 2.44s
84:	learn: 0.0000987	total: 13s	remaining: 2.29s
85:	learn: 0.0000893	total: 13.1s	remaining: 2.14s
86:	learn: 0.0000809	total: 13.3s	remaining: 1.99s
87:	learn: 0.0000733	total: 13.6s	remaining: 1.85s
88:	learn: 0.0000664	total: 13.8s	remaining: 1.71s
89:	learn: 0.0000602	total: 14s	remaining: 1.56s
90:	learn: 0.0000545	total: 14.3s	remaining: 1.41s
91:	learn: 0.0000494	total: 14.5s	remaining: 1.26s
92:	learn: 0.0000447	total: 14.7s	remaining: 1.11s
93:	learn: 0.0000405	total: 14.9s	remaining: 950ms
94:	learn: 0.0000367	total: 15.1s	remaining: 793ms
95:	learn: 0.0000333	total: 15.3s	remaining: 638ms
96:	learn: 0.0000302	total: 15.6s	remaining: 481ms
97:	learn: 0.0000274	total: 15.8s	remaining: 322ms
98:	learn: 0.0000248	total: 16s	remaining: 162ms
99:	learn: 0.0000226	total: 16.2s	remaining: 0us
Accuracy: 1.0
Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00   5389923
           1       1.00      1.00      1.00     52529

    accuracy                           1.00   5442452
   macro avg       1.00      1.00      1.00   5442452
weighted avg       1.00      1.00      1.00   5442452

Confusion Matrix:
[[5389923       0]
 [      0   52529]]
Feature Importance:
Feature 0: 0.058228124031696714
Feature 1: 99.9417718759683

In [33]:
model.score(X_test,y_test)

1.0

In [ ]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

# Step 4: XGBoost Model Initialization
model = xgb.XGBClassifier(n_estimators=100, tree_method="gpu_hist",  max_depth=3, learning_rate=0.1, random_state=42)

# Step 6: Model Training
model.fit(X_train, y_train)

# Step 7: Model Evaluation
val_predictions = model.predict(X_val)
accuracy = accuracy_score(y_val, val_predictions)
print(f'Validation Accuracy: {accuracy}')

# Step 10: Final Model Evaluation
test_predictions = model.predict(X_test)
test_accuracy = accuracy_score(y_test, test_predictions)
print(f'Test Accuracy: {test_accuracy}')

In [ ]:
from matplotlib import pyplot as plt
feature_importance = model.feature_importances_
sorted_idx = np.argsort(feature_importance)
fig = plt.figure(figsize=(12, 6))
plt.barh(range(len(sorted_idx)), feature_importance[sorted_idx], align='center')
plt.yticks(range(len(sorted_idx)), np.array(X_test.columns)[sorted_idx])
plt.title('Feature Importance')